$colorblue:rgb(0, 0, 100);

.boot_carCarousel{
    margin: 5%;
    width: 55%;
}
.col{
    h2{
        margin-top: 2%;
    }
    .desc1{
        font-family: 'Lato', sans-serif;
        color: $colorblue;
        .price{
            font-size: 150%;
            font-weight: bolder;
        }
    }
    .desc2{
        font-family: 'Lato', sans-serif;
        color: black;
        .price{
            color:$colorblue;
            font-size: 150%;
            font-weight: bolder;
        }
    }
        
    
}
