$colorblue:rgb(0, 0, 100);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    margin: 1%;
}
h1{
    display: inline-block;
    color: $colorblue;
    font-size:200%;
    font-family: 'Bebas Neue', cursive;
}
h2{
    color: $colorblue;
    font-family: 'Bebas Neue', cursive;
}

h3{
    color:$colorblue;
    font-family: 'Bebas Neue', cursive;
    font-size: 150%;
}
.map{
    grid-area: map;
    width: 100%;
}
.nuestrasSedes{
    align-items: center;
    width: 70%;
    height: 850px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(5,1fr);
    gap: 1px;
    grid-template-areas: 
    "map"
    "sede1"
    "sede2"
    "sede3"
    "sede4" 
    "sede5";
}
.map{
    grid-area: map;
}
@for $i from 1 through 5{

    .sede#{($i)}{
        grid-area:sede#{($i)};
    }
}
//----------------------------------------------------------------------------------------
//Descripcion del vehiculo
//----------------------------------------------------------------------------------------
.boot_carCarousel{
    margin: 5%;
    width: 55%;
}
.col{
    h2{
        margin-top: 2%;
    }
    .desc1{
        font-family: 'Lato', sans-serif;
        color: $colorblue;
        .price{
            font-size: 150%;
            font-weight: bolder;
        }
    }
    .desc2{
        font-family: 'Lato', sans-serif;
        color: black;
        .price{
            color:$colorblue;
            font-size: 150%;
            font-weight: bolder;
        }
    }    
}
//----------------------------------------------------------------------------------------
//Cuadricula de vehiculos
//----------------------------------------------------------------------------------------
.autosNuevos,.autosUsados,.nuevosIngresos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;

    .car{
        background-color: lightgray;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 0.5fr;
        gap: 5px;
        grid-template-areas: 
        "photo"
        "info";
        .photo{
            grid-area: photo;
        }
        .info{
            margin: 0;
            padding: 0;
            text-align: center;
            grid-area: info;
            font-family: 'Lato', sans-serif;
            list-style-type:none;
            font-size: large;
            .price{
                color:$colorblue;
                font-size: 120%;
                font-weight: bolder;
            }
        }
    }
    
    .car:hover{
        border:$colorblue 5px solid;
        border-radius: 3%;
        transform: scale(1.1,1.1);
        transition: transform 0.6s;
    }
}
//----------------------------------------------------------------------------------------
//Publicar vehiculo
//----------------------------------------------------------------------------------------
.publish{
    font-family: 'Lato', sans-serif;
    color: $colorblue;
}
//----------------------------------------------------------------------------------------
//Filtro
//----------------------------------------------------------------------------------------
#filtro{
    position: sticky;
    top:20px;  
    z-index:2;
    form{
        font-family: 'Lato', sans-serif;
        color: gray;
        background-color: $colorblue;
        border-radius: 15px;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 100%;
        .formTitle{
            color: gray;
            font-family: 'Bebas Neue', cursive;
            font-size:100%;
            margin-left: 1%;
        }
        label{
            margin:1%; 
        }
        .kmInit,.kmEnd,.startPrice,.endPrice{
            width: 5%;
        }
    }
    
}
//----------------------------------------------------------------------------------------
//Footer
//----------------------------------------------------------------------------------------
.publicidad{ 
    display: flex;
    .redes, .youtube{
        img{
            opacity: 80%;
            
        }
        img:hover{
            opacity: 100%;
        }
    }
}
#contacto{
    height: 100px;
}
//----------------------------------------------------------------------------------------
//Header
//----------------------------------------------------------------------------------------
.header__gradient{
    background-image: linear-gradient(to left, rgb(128, 128, 128), white );
}
.header__logo{
    display: inline-block;
}
.login{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
nav{
    text-align: center;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: $colorblue; 
    ul{
        li{
            font-family: 'Bebas Neue', cursive;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            :hover{
                background-color:$colorblue;
            }
        }
    }
    .inicio,.nuevos,.usados,.publicar,.sedes,.contacto{
        text-decoration: none;
        margin: 1%;
        font-size:150%;
        color: $colorblue;
    }
    .inicio:hover,.nuevos:hover,.usados:hover,.publicar:hover,.sedes:hover,.contacto:hover{
        text-decoration: none;
        margin: 1%;
        font-size:150%;
        color: gray;
    }
    
}
//----------------------------------------------------------------------------------------
//Places
//----------------------------------------------------------------------------------------
.placesDirec{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: $colorblue;
}
p{
    font-family: 'Lato', sans-serif;
    color: black;
}
//----------------------------------------------------------------------------------------
//Media Queries
//----------------------------------------------------------------------------------------
//Escritorio
@media (min-width: 1200px) { 
    h1{
        font-size: 400%;
    }
    nav{
        ul{
            li{
                display: inline-block;
            }
        }
        .inicio,.nuevos,.usados,.publicar,.sedes,.contacto{
            font-size:200%;
        }
        .inicio:hover,.nuevos:hover,.usados:hover,.publicar:hover,.sedes:hover,.contacto:hover{
            font-size:200%;
        }
    }
    .autosNuevos,.autosUsados,.nuevosIngresos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
//Tablets
@media (min-width: 768px) and (max-width: 1200px) { 
    nav{
        ul{
            li{
                display: inline-block;
            }
        }
    }
    .autosNuevos,.autosUsados,.nuevosIngresos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
