@import "cardesc";
@import "cargrid";
@import "carpublish";
@import "filter";
@import "footer";
@import "header";
@import "places";

$colorblue:rgb(0, 0, 100);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    margin: 1%;
}
h1{
    display: inline-block;
    color: $colorblue;
    font-size:200%;
    font-family: 'Bebas Neue', cursive;
}
h2{
    color: $colorblue;
    font-family: 'Bebas Neue', cursive;
}

h3{
    color:$colorblue;
    font-family: 'Bebas Neue', cursive;
    font-size: 150%;
}
.map{
    grid-area: map;
    width: 100%;
}
.nuestrasSedes{
    align-items: center;
    width: 70%;
    height: 850px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(5,1fr);
    gap: 1px;
    grid-template-areas: 
    "map"
    "sede1"
    "sede2"
    "sede3"
    "sede4" 
    "sede5";
}
.map{
    grid-area: map;
}
@for $i from 1 through 5{

    .sede#{($i)}{
        grid-area:sede#{($i)};
    }
}
nav{
    .inicio,.nuevos,.usados,.publicar,.sedes,.contacto{
        display: flexbox;
        text-decoration: none;
        margin: 1%;
        font-size:100%;
        color:$colorblue;
    }
    .inicio:hover,.nuevos:hover,.usados:hover,.publicar:hover,.sedes:hover,.contacto:hover{
        text-decoration: none;
            margin: 1%;
            font-size:100%;
            color: gray;
    }
}
@media (min-width:600px){
    h1{
        display: inline-block;
        color: $colorblue;
        font-size:400%;
        font-family: 'Bebas Neue', cursive;
    }
    nav{
        .inicio,.nuevos,.usados,.publicar,.sedes,.contacto{
            text-decoration: none;
            margin: 1%;
            font-size:200%;
            color:$colorblue;
        }
        .inicio:hover,.nuevos:hover,.usados:hover,.publicar:hover,.sedes:hover,.contacto:hover{
            text-decoration: none;
                margin: 1%;
                font-size:200%;
                color: gray;
        }
    }
    .map{
        grid-area: map;
        width: 100%;
    }
    .nuestrasSedes{
        align-items: center;
        width: 70%;
        height: 850px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(5,1fr);
        gap: 1px;
        grid-template-areas: 
        "map"
        "sede1"
        "sede2"
        "sede3"
        "sede4" 
        "sede5";
    }
    .map{
        grid-area: map;
    }
    @for $i from 1 through 5{

        .sede#{($i)}{
            grid-area:sede#{($i)};
        }
    }
}
@media (min-width:768px){

    .autosNuevos,.autosUsados,.nuevosIngresos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        .inicio,.nuevos,.usados,.publicar,.sedes,.contacto{
            text-decoration: none;
            margin: 1%;
            font-size:150%;
            color: $colorblue;
            :hover{
                text-decoration: none;
                margin: 1%;
                font-size:150%;
                color: gray;
            }
        }
    }
    .map{
        grid-area: map;
        width: 100%;
    }
    .nuestrasSedes{
        align-items: center;
        width: 70%;
        height: 600px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows:repeat(5,1fr);
        gap: 10px;
        grid-template-areas: 
        "map sede1"
        "map sede2"
        "map sede3"
        "map sede4"
        "map sede5";
    }
    .map{
        grid-area: map;
        width: 100%;
    }
    @for $i from 1 through 5{

        .sede#{($i)}{
            grid-area:sede#{($i)};
        }
    }
}
@media (min-width:1200px){
    nav{
        .inicio,.nuevos,.usados,.publicar,.sedes,.contacto{
            text-decoration: none;
            margin: 1%;
            font-size:200%;
            color: $colorblue;
            :hover{
                text-decoration: none;
                margin: 1%;
                font-size:200%;
                color: gray;
            }
        }
    }
    .map{
        width: 90%;
    }
}